<!-- NAV BAR -->
  <div class='ui menu custom-nav'>

    <!-- LEFT NAV (PARTIAL?) -->
      <a class='active item' href='/'>
      Home
      </a>
      <a class='item' href='/collections'>
      Collections
      </a>
      <a class='item' href='/discover'>
      Discover
      </a>
    <!-- LEFT NAV -->

    <!-- MESSAGE WINDOW -->
    <!-- MESSAGE WINDOW -->

    <!-- RIGHT NAV -->
      <% if (typeof currentUser === 'object') { %>
        <div class='right menu'>
          <a class='ui item' href="/profile">
          <%= currentUser.fullname %>
          </a>
          <a class='ui item' href="/logout">
          Log Out
          </a>
        </div>
      <% } else { %>
        <div class='right menu'>
          <a class='ui item' href="/login">
          Log In
          </a>
          <a class='ui item' href="/register">
          Sign Up
          </a>
        </div>
      <% } %>
    <!-- RIGHT NAV -->

  </div>
<!-- NAV BAR -->