<!-- NAV BAR -->
  <div class='ui menu custom-nav'>

    <!-- LEFT NAV (PARTIAL?) -->
      <a class='active item' href='/'>
      Home
      </a>
      <a class='item' href='/'>
      Blah
      </a>
      <a class='item' href='/profile'>
      Profile
      </a>
    <!-- LEFT NAV -->

    <!-- RIGHT NAV -->
      <div class='right menu'>
      <a class='ui item' href="/social">
      Log In
      </a>
      <a class='ui item' href="/register">
      Sign Up
      </a>
      </div>
    <!-- RIGHT NAV -->

  </div>
<!-- NAV BAR -->