<div class='card-container'>
  </div>



    <div id="message-window" class='ui panel'>
    <% if (typeof currentUser === 'object') { %>
      <h4 style="color: white;">YOURE LOGGED IN <%= currentUser.fullname.toUpperCase() %> </h4>
    <% } else { %>
      <h4 style="color: white;"> YOURE NOT LOGGED IN BRO </h4>
    <% } %>
    <br>
    <br>



    </div>