<div class='card-container'>
  </div>



    <div id="message-window" class='ui panel'>
    <% if (typeof currentUser === 'object') { %>

       <div class="ui inverted raised segment" style="width: 90vw; height:contain; margin: 1% auto; overflow: auto;">
      <h3> Yo <%= currentUser.fullname %>, since this site is still in development, heres some notes: </h3>
        <div class="ui raised segment" style="width: 75vw, height: 75vh; margin: 1% auto;">
        <ul class="ui list">
          <li class="ui item"> Right now, the search function is hardcoded to Giphy. The reddit API is there, but needs to be able to be selected to search subreddits.</li>
          <li class="ui item"> Misc. search engine woes. If you try to search for more than one word, you'll see a really esoteric error. Sorry, still working on it.</li>
          <li class="ui item"> As I am working on the site and updating portions, while you are viewing this, that means that I might accidentally break it. If you get brought to an application error page, sorry in advance, but like... message me to let me know if you see it.</li>
          <li class="ui item"> The profile page is currently a gaping void, but is a priority.</li>
          <li class="ui item"> The links to add things to your bag are not currently working, but don't let that stop you from playing around, or making all the bags you please.</li>
          <li class="ui item"> The main features that need testing at the moment are adding new bags, and making sure that works well, so if you could do that for me, I'd be grateful. </li>
          <li class="ui item"> You may also notice that there aren't many requirements on making a new profile. The reason for this is to populate the database with several rediculous profiles. If you do this though, please at least create one bag with it. I'll need as many as possible to test out later features.</li>
          <li class="ui item"> This was designed with chrome in mind, and slightly mobile responsive, so if you use a different browser, like Firefox, let me know how it looks in there.</li>
          <li class="ui item"> There's probably a bunch of other stuff I'm forgetting, but I'll add to this list as I remember things.</li>
          <li class="ui item"> OH! And if you have chrome dev tools and want to tinker with the code to see if you can make this look a little less crappy, please do so. (also I'd love it if you'd share with me what you did)</li>
        </ul>
      </div>
      <h3> If you have any feedback, please message me on FB. Yes, I will recieve it, and yes I will definitely regard it.</h3>
      <br />
      <br />

      <div style="width: 50%; height: 30%; margin: 0 auto;">
      <h4 style="margin: 0 auto !important;">
      Here's a fun infographic of how much coding I've been doing on this project. It even updates in real time.
      </h4>
      <figure><embed src="https://wakatime.com/share/@arjay_jones/b75d982c-4ff0-43f9-bb22-04f4dedb95b2.svg"></embed></figure>
      &nbsp;
      <figure><embed src="https://wakatime.com/share/@arjay_jones/8a12c905-f633-4397-9e31-27c808f1f55c.svg"></embed></figure>
      </div>
      </div>

    <% } else { %>

       <div class="ui inverted raised segment" style="width: 90vw; height:contain; margin: 1% auto; overflow: auto;">
      <h3> Yo awesome person, since this site is still in development, heres some notes: </h3>
        <div class="ui raised segment" style="width: 75vw, height: 75vh; margin: 1% auto;">
        <ul class="ui list">
          <li class="ui item"> Right now, the search function is hardcoded to Giphy. The reddit API is there, but needs to be able to be selected to search subreddits.</li>
          <li class="ui item"> Misc. search engine woes. If you try to search for more than one word, you'll see a really esoteric error. Sorry, still working on it.</li>
          <li class="ui item"> As I am working on the site and updating portions, while you are viewing this, that means that I might accidentally break it. If you get brought to an application error page, sorry in advance, but like... message me to let me know if you see it.</li>
          <li class="ui item"> The profile page is currently a gaping void, but is a priority.</li>
          <li class="ui item"> The links to add things to your bag are not currently working, but don't let that stop you from playing around, or making all the bags you please.</li>
          <li class="ui item"> The main features that need testing at the moment are adding new bags, and making sure that works well, so if you could do that for me, I'd be grateful. </li>
          <li class="ui item"> You may also notice that there aren't many requirements on making a new profile. The reason for this is to populate the database with several rediculous profiles. If you do this though, please at least create one bag with it. I'll need as many as possible to test out later features.</li>
          <li class="ui item"> This was designed with chrome in mind, and slightly mobile responsive, so if you use a different browser, like Firefox, let me know how it looks in there.</li>
          <li class="ui item"> There's probably a bunch of other stuff I'm forgetting, but I'll add to this list as I remember things.</li>
          <li class="ui item"> OH! And if you have chrome dev tools and want to tinker with the code to see if you can make this look a little less crappy, please do so. (also I'd love it if you'd share with me what you did)</li>
        </ul>
      </div>
      <h3> If you have any feedback, please message me on FB. Yes, I will recieve it, and yes I will definitely regard it.</h3>
      <br />
      <br />

      <div style="width: 50%; height: 30%; margin: 0 auto;">
      <h4 style="margin: 0 auto !important;">
      Here's a fun infographic of how much coding I've been doing on this project. It even updates in real time.
      </h4>
      <figure><embed src="https://wakatime.com/share/@arjay_jones/b75d982c-4ff0-43f9-bb22-04f4dedb95b2.svg"></embed></figure>
      &nbsp;
      <figure><embed src="https://wakatime.com/share/@arjay_jones/8a12c905-f633-4397-9e31-27c808f1f55c.svg"></embed></figure>
      </div>
      </div>
    <% } %>
    </div>