
  <div class='card-container'>
  </div>

<div class="ui cards">
  <div class="card">
    <div class="image">
      <img src="http://i.imgur.com/oZDNsa1.gif">
    </div>
    <div class="content">
      <div class="header">Super Awesome Reddit Collection</div>
      <div class="meta">
        <a>Reddit</a>
      </div>
      <div class="description">
        From /r/livedoodles
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        Edit | Share
      </span>
      <span>
        <i class="user icon"></i>
        42 Collected Things
      </span>
    </div>
  </div>
</div>

