<!DOCTYPE html>
<html lang='en'>
<head>

<!-- META -->
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
<!-- META -->

<!-- TITLE -->
  <title><%= title %></title>
<!-- TITLE -->

<!-- STYLES -->
  <link rel='stylesheet' href='/tools/semantic/semantic.css'>
  <link rel='stylesheet' href='/tools/fa/css/font-awesome.css'>
  <link rel='stylesheet' href='/css/style.min.css'>

<!-- STYLES -->

</head>
<body>

<!-- NAV BAR -->
<% include partials/navbar_partial.ejs %>
<!-- NAV BAR -->

<!-- NON-EJS BODY -->

<!-- NON-EJS BODY -->

<!-- EJS BODY -->
  <%- body %>
<!-- EJS BODY -->

</body>
</html>