.register {
  background: url('/images/nyan.jpg'), linear-gradient(black, grey);
  background-size: cover;
  background-repeat: no-repeat;

}
.default-bg {
  background: url('/images/wall.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.treasure {
  margin: 1% !important;
}

.discover-board {
  width: 75vw;
  margin: 0 auto !important;
}

.search-form-submit {
  border: 0px solid transparent !important;
  background: transparent;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3A4750;
  color: #000;
  // background:  url(../images/collection2.jpg), linear-gradient(#515, #AAA);
  background-size: cover;
  background-repeat: no-repeat;

    #avatar {
      border: 0px solid transparent;
      border-radius: 100%;
      margin-right: 5px;
    }
    a {
      color: #00B7FF;
    }
    .count-number {
      font-size: 8pt !important;
      color: grey !important;
    }
    #message-window {
      margin: 0 auto;
    }

    .main-display {
      display: flex;
      flex-wrap: wrap;
    }

    .thumb {
      width: 100px;
      height: 100px;
    }

    .custom-nav {
      border-radius: 0 !important;
      height: 45px;
      width: 100vw;
      // position: fixed;
      z-index: 2;
    }
    #register-box {
      color: black;
      background: rgba(255, 255, 255, 0.5) !important;
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.8);
      margin-top: 10vw !important;
    }
    #login-box {
      color: black;
      background: rgba(255, 255, 255, 0.5) !important;
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.8);
      margin-top: 10vw !important;
    }
    .card-customize {
    margin: 2vw !important;
    height: 320px;
    display: inline-flex !important;
    }

    .social-container {
      margin: 0 auto;
      overflow: none;

      .social {
        width: 160px;
        margin: 0 1.5vw;
        padding: 15px;
      }
    }
}




